<!DOCTYPE html>	
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mi portafolio online Portafolio.la</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="javascript:void(0);">Yo</a></li>
				<li><a href="javascript:void(0);">Perfil</a></li>
				<li><a href="javascript:void(0);">Trabajo</a></li>
				<li><a href="javascript:void(0);">Contacto</a></li>
			</ul>
		</nav>
		<figure>
			<img src="avatar.jpg">
			<figcaption>
				<a href="javascript:void(0)" target="_blank">@mitwiter</a>
			</figcaption>
			<p>Mi Nombre</p>
		</figure>
	</header>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<!-- Perfil digital -->
		<a href="#" target="_blank">Twiter</a>
		<a href="#" target="_blank">Facebook</a>
		<a href="#" target="_blank">github</a>
	</section>
	<section>
		<h2>Mi Perfil</h2>
		<article>
			<figure>	
				<img src="logoproyecto.jpg">
				<figcaption>Proyecto a</figcaption>
			</figure>
		</article>
		<article>
			<figure>	
				<img src="logoproyecto.jpg">
				<figcaption>Proyecto b</figcaption>
			</figure>
		</article>
		<article>
			<figure>	
				<img src="logoproyecto.jpg">
				<figcaption>Proyecto c</figcaption>
			</figure>
		</article>
	</section>
	<footer>
		<h3>Contacto</h3>
		<form>
			<input type="text" placeholder="Nombre">
			<input type="text" placeholder="Email">
			<textarea placeholder="motivo">
			</textarea>
			<button type="placeholder"></button>
		</form>
	</footer>
</body>
</html>